{% extends "_layout.njk" %}
{% block layoutBody %}
  <div class="container prose prose-zinc prose-sm sm:prose-base mx-auto py-12 sm:py-24 px-12 sm:px-0">
    <a href="/{{ locale }}" class="no-underline">
      <h1>{{ config.title }}</h1>
    </a>
    <nav class="flex gap-4">
      <a href="/{{ locale }}/blog">{{ 'menuPost' | i18n }}</a>
      <a href="/{{ locale }}/book">{{ 'menuBook' | i18n }}</a>
      <a href="/{{ locale }}/talk">{{ 'menuTalk' | i18n }}</a>      
      <a href="https://binary.2bab.me/">{{ 'menuPodcast' | i18n }}</a>
      <a href="/{{ locale }}/rss.xml">RSS</a>
    </nav>

    {% block pageBody %}
      {{ content | safe }}
    {% endblock %}

    {% include "./_footer.njk" %}
  </div>
{% endblock %}