{% extends "_layout.njk" %}

{% block layoutBody %}
<div>
  <div class="container mx-auto prose py-12 sm:py-24 px-12 sm:px-0">
    <div class="mb-12">
      <a class="no-underline font-bold" href="/{{ locale if locale else "en" }}/">{{ config.title }}</a>
    </div>
    <h1>{{ title }}</h1>
    <div class="italic text-gray-500">
      {% date date %}
    </div>
    <div>
      {{content | safe}}
    </div>
    <hr />
      <div class="text-sm text-center">
        {{ 'commentMethod' | i18n }}
      </div>
      <hr />
    {% if locale == "zh" %} {% include "_donate.njk"%} {% endif %}
    {% include "_footer.njk" %}
  </div>

</div>

{% endblock %}